.container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto;
}

.breakdown-container {
  min-height: 712px;
}

.breakdown-container > div {
  padding-bottom: 10px;
}

.rating-breakdown {
  display: flex;
  padding-right: 20%;
  justify-content: space-between;
}

.review-card {
  border-bottom: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-card > div, p {
  padding: 5px;
  margin: 5px;
}

.review-name-date {
  float: right;
}

.rating-breakdown {
  display: flex;
}

.review-thumbnail {
  width: 125px;
  height: 125px;
}

.review-body {
  font-weight: bold;
  font-size: 21px;
}

.overall-rating {
  font-size: 50px;
  margin-bottom: 10px;
  padding-bottom : 10px;
}

.recommendation-percentage {
  margin-bottom: 10px;
  padding-bottom : 10px;
}

.progress-box {
  width: 80%;
  position: relative;
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0de;
  height: 1em;
}

.progress-filler-desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.progress-desc {
  font-size: 13px;
  text-align: center;
  padding: 1px;
}

.indiv-characteristic {
  margin-bottom: 10px;
}

.indiv-star {
  width: 22.5px;
  height: 22.5px;
}

.modal-image {
  width: 35em;
  height: auto;
  position: relative;
  margin: 0 auto;
}

#form-name, #form-email {
  width: 100%;
}

.rating-breakdown:hover {
  background-color: rgb(236, 227, 227);
  cursor: pointer;
};

